@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>TimeZoneInfo.FindSystemTimeZoneById("AUS Eastern Standard Time")@ViewData["winTimeZone"]</p>
<p>TimeZoneInfo.FindSystemTimeZoneById("Australia/Sydney"): @ViewData["linuxTimeZone"]</p>
